<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="info"
      internalLogFile="${basedir}/internal-nlog.txt">

  <extensions>
    <!-- Load the NLog.Web assembly -->
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- Define where NLog will write the logs -->
  <targets async="true">
    <!-- Log to the console -->
    <target xsi:type="Console" name="logconsole"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=5}" />

    <!-- Log to a file -->
    <target xsi:type="File" name="logfile"
            fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} | ${level} | ${logger} | ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=5}"
            archiveFileName="${basedir}/archives/log.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            concurrentWrites="true"
            keepFileOpen="false" />

    <!-- Log to another file for special operations -->
    <target xsi:type="File" name="specialOpsLog"
            fileName="${basedir}/logs/specialOps_${shortdate}.log"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} | ${all-event-properties}"
            archiveEvery="Week"
            maxArchiveFiles="52"
            concurrentWrites="true"
            keepFileOpen="false" />
  </targets>

  <!-- Rules to map from log level and logger to target -->
  <rules>
    <!-- All logs, including lower levels -->
    <logger name="*" minlevel="Trace" writeTo="logconsole" />

    <!-- Higher level logs to file -->
    <logger name="*" minlevel="Info" writeTo="logfile" />

    <!-- Special operations log -->
    <logger name="SpecialOpsLogger" minlevel="Debug" writeTo="specialOpsLog" />
  </rules>
</nlog>
